html {
  font-size: 18px;
  font-family: "Indie Flower", sans-serif;
  margin: 0;
}
/*헤더*/
header {
  font-size: 2.3rem;
  font-weight: bolder;
  border-bottom: 10px black solid;
  background-color: red;
}
h1 {
  margin: 0;
  position: relative;
  left: 20px;
  top: 10px;
}
/*메인*/
.main {
  display: grid;
  grid-template-columns: 30% 70%;
}
.nav {
  font-size: 1.8rem;
  font-weight: bold;
  background-color: orange;
  display: inline-block;
  border-right: 10px black solid;
}
li {
  margin-bottom: 10px;
}
.main-content {
  padding: 20px 0 0 50px;
  display: inline-block;
  height: 750px;
}
#Night {
  background-color: black;
}
.main-content img {
  float: left;
}
.main-content::after {
  content: "";
  display: block;
  clear: both;
}
footer {
  border-top: 10px black solid;
  padding-top: 15px;
  font-size: 1.6rem;
  background-color: green;
  height: 100px;
  font-weight: 800;
  text-align: end;
  padding-right: 20px;
  clear: both;
}
a:hover {
  color: skyblue;
}
.button {
  width: 100px;

  background-color: #f8585b;

  border: none;

  color: #fff;

  padding: 15px 0;

  text-align: center;

  text-decoration: none;

  display: inline-block;

  font-size: 15px;

  margin: 4px;

  cursor: pointer;
}
@media (max-width: 1100px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 1573px) {
  #bener img {
    display: none;
  }
}
